#root{
  height: 100%;
}
.inner{
  margin: auto;
  height: 100%;
  background: rgb(24, 24, 24);
}
.main{
  display: flex;
}
.videoView{
  display: none;
  padding: 100px 100px;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}
.VideoInfo{
  width: 70%;
  height: 100%;
}
.SideVideo{
  width: 25%;
}

@media screen and (max-width:980px){
  .videoView{
    flex-direction: column;
    padding: 100px 30px;
  }
  .VideoInfo{
    width: 100%;
    height: 9999px;
    margin-bottom: 20px;
  }
  .SideVideo{
    width: 100%;
  }
  .SideVideo div{
    padding-left: 0;
  }
}